


{% if request_contact.is_logged_in %}

Logged in user id : {{request.contact.contact_vid}}


<br>
<br>
<br>


{% for item in module.crm_objects %}
<h2>Custom objects associated with contact</h2>

{% set CRM_objects1 = crm_associations(request.contact.contact_vid, item.object_category, item.association_type_id) %}

{% if item.add_custom_object %}
{% if CRM_objects1.results and CRM_objects1.results|length > 0 %}
{% for CRM_object1 in CRM_objects1.results %}
{% set crm_single_object = crm_object( item.custom_object_details.custom_object_exact_name , CRM_object1.id, item.custom_object_details.custom_object_properties, false) %}

This is crm object data: {{crm_single_object}}

{% endfor %}
{% endif %}
{% else %}


<br>
<br>
<br>

This is crm object data: {{ CRM_objects1.results }}


{% endif %}
{% endfor %}


<br>
<br>
<br>
<h2>
  Single deal with contact
</h2>

{% set associated_contacts = crm_associations(request.contact.contact_vid, "HUBSPOT_DEFINED",4) %} 
{{ associated_contacts }}

<br>
<br>
<br>

<h2>
  Custom object list
</h2>

{% set objects = crm_objects("p_barn_and_bays", "", "barn_and_bay_name,bay_name,barn_name,size,width,square_footage,length,under_cancelation") %} 
{{ objects.results }}

<br>
<br>
<br>
<h2>
  Single deal
</h2>

<!-- {% set barn_bay = crm_object("p_barn_and_bays", "13111921740", "barn_and_bay_name,bay_name,barn_name,size,width,square_footage,length,under_cancelation", false) %}
{{barn_bay}} -->

<br>
<br>
<br>

{% for item in module.crm_objects %}

{% set associated_contacts = crm_associations(request.contact.contact_vid, item.object_category,inline_text field="association_type_id" value="{{ item.association_type_id }}") %} 
{{ associated_contacts }}

	{{ item.object_category }}
	{% inline_text field="association_type_id" value="{{ item.association_type_id }}" %}
	{% if item.add_custom_object %}
		<!-- HTML to show when checked -->
	{% endif %}
	{% inline_text field="custom_object_details.custom_object_exact_name" value="{{ item.custom_object_details.custom_object_exact_name }}" %}
	{% inline_text field="custom_object_details.custom_object_properties" value="{{ item.custom_object_details.custom_object_properties }}" %}
{% endfor %}
<!-- by id -->

{% else %}
<p>Please log in to view your barn and bay details.</p>
{% endif %}
