<!--
  templateType: global_partial
  label: Components
-->

<!-- Components -->
<script
  type="text/babel"
  src='{{get_asset_url("../../../js/components/ThemeSwitcher.js")}}'
></script>
<script
  type="text/babel"
  src='{{get_asset_url("../../../js/MainLayout.js")}}'
></script>
<script
  type="text/babel"
  src='{{get_asset_url("../../../js/components/Home.js")}}'
></script>
<script
  type="text/babel"
  src='{{get_asset_url("../../../js/components/Recoiljs.js")}}'
></script>
<script
  type="text/babel"
  src='{{get_asset_url("../../../js/components/TnstackQuery.js")}}'
></script>
<script
  type="text/babel"
  src='{{get_asset_url("../../../js/components/ReactForm.js")}}'
></script>

<!-- Store -->
<script
  type="text/babel"
  src='{{get_asset_url("../../../js/state/use-name.js")}}'
></script>

<!-- Main APP -->
<script
  type="text/babel"
  src='{{get_asset_url("../../../js/App.js")}}'
></script>
