<!-- Pages -->
<script type="text/babel" src='{{get_asset_url("../../../js/MainLayout.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/SiteLayout/HeaderLayout.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/SiteLayout/SideLayout.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/pages/DynamicComponent.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/pages/Details.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/Recoiljs.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/TnstackQuery.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/pages/auth/Login.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/pages/auth/Register.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/pages/Notification.js")}}'></script>

<!-- Components -->
<script type="text/babel" src='{{get_asset_url("../../../js/pages/components/details/DetailsHeaderCard.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/pages/components/details/DetailsMapsCard.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/pages/components/details/DetailsAssociations.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/pages/components/details/DetailsTable.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/pages/components/details/DetailsView.js")}}'></script>

<!-- UI -->
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/ThemeSwitcher.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Card.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Checkbox.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Table.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Logo.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Button.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/ActivityLog.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Timeline.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Tabs.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Avatar.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Form.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Select.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Pagination.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Accordion.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/DashboardTable.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/checkboxes/Client-checkbox.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/checkboxes/CustomCheckbox.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/SvgRenderer.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Dialog.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/components/UI/Tooltip.js")}}'></script>

<!-- Data -->
<script type="text/babel" src='{{get_asset_url("../../../js/data/client/http-client.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/data/client/endpoints.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/data/client/index.js")}}'></script>

<!-- Store -->
<script type="text/babel" src='{{get_asset_url("../../../js/state/use-name.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/state/use-route.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/state/use-collapsible.js")}}'></script>
<script type="text/babel" src='{{get_asset_url("../../../js/state/use-theme.js")}}'></script>

<!-- Store -->
<script type="text/babel" src='{{get_asset_url("../../../js/utils/CheckDataType.js")}}'></script>

<!-- Main APP -->
<script type="text/babel" src='{{get_asset_url("../../../js/App.js")}}'></script>