<!--
  templateType: global_partial
  label: Libraries
-->

<!-- custom child js  -->

<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../child/child.js")}}'></script>

<!-- Pages -->
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/env.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/MainLayout.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/SiteLayout/HeaderLayout.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/SiteLayout/PrivateRoute.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/SiteLayout/PublicRoute.js")}}'></script>

<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/SiteLayout/Drawer.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/DynamicComponent.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/Details.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/Recoiljs.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/ApiDetails.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/ModuleDetails.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/TnstackQuery.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/auth/Login.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/auth/TwoFa.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/auth/ForgetPassword.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/auth/ResetPassword.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/auth/VerifyEmail.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/auth/NotVerifiedEmail.js")}}'></script>

<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/auth/Register.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/Notification.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/Profile.js")}}'></script>

<!-- Components -->
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/components/details/DetailsHeaderCard.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/components/details/DetailsMapsCard.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline"
  src='{{get_asset_url("../../../js/pages/components/details/DetailsAssociations.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/components/details/DetailsTable.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/components/details/DetailsView.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/pages/components/details/DetailsGallery.js")}}'></script>

<!-- UI -->
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/ThemeSwitcher.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Card.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Checkbox.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Table.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Logo.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Button.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/ActivityLog.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Timeline.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Tabs.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Avatar.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Form.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Select.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Pagination.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Accordion.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/DashboardTable.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/checkboxes/CustomCheckbox.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/SvgRenderer.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Dialog.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Tooltip.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Alert.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/files/Files.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/Notes.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/files/FIleUpload.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/files/FileTable.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/files/ModuleFileTable.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/files/ActionDropdown.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/files/Breadcrumb.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/files/FileDetailsModal.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/files/CreateFolderDialog.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/files/FolderUpload.js")}}'></script>

<!--Profile-->
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/profile/ChangePassword.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/profile/ProfileUpdate.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/components/UI/profile/ProfileCard.js")}}'></script>

<!-- Data -->
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/data/client/http-client.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/data/client/endpoints.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/data/client/index.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/data/client/authUtils.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/data/user.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/data/fakeData.js")}}'></script>

<!-- Store -->
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/state/use-name.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/state/use-route.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/state/use-collapsible.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/state/use-theme.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/state/use-me.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/state/use-logout-dialogstate.js")}}'></script>
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/state/use-auth.js")}}'></script>

<!-- Store -->
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/utils/dataMigration.js")}}'></script>
<script src='{{get_asset_url("../../../js/utils/twMerge.js")}}'></script>
<script src='{{get_asset_url("../../../js/utils/param.js")}}'></script>

<!-- Main APP -->
<script type="text/babel" data-presets="react" data-source-map="inline" src='{{get_asset_url("../../../js/App.js")}}'></script>