<!--
  templateType: global_partial
  label: Libraries
-->
<!-- child css  -->

<link rel="stylesheet" href='{{ get_asset_url("../../../child/child.css") }}' />

<!-- Dependency -->
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href='{{ get_asset_url("../../../css/global.css") }}' />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<script
  type="text/babel"
  src=' {{get_asset_url("../../../js/tailwind.config.js")}}'>
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.min.js"></script>
<script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/recoil@0.7.7/umd/index.min.js"></script>
<script src="https://unpkg.com/@tanstack/react-query@4/build/umd/index.production.js"></script>

<script src="https://cdn.jsdelivr.net/npm/react-hook-form@7.51.5/dist/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/zod@3.23.8/lib/index.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.5.2/index.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>


<!--Text Editor -->

<script src="https://cdn.ckeditor.com/ckeditor5/38.0.0/classic/ckeditor.js"></script>

<!--HTML PARSER-->
<script src="
https://cdn.jsdelivr.net/npm/react-html-parser@2.0.2/dist/react-html-parser.min.js
"></script>
<script src="
https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js
"></script>