<!--
  templateType: global_partial
  label: Libraries
-->

<!-- Dependency -->
<script src="https://cdn.tailwindcss.com"></script>

<script
  type="text/babel"
  src='{{get_asset_url("../../../js/tailwind.config.js")}}'
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/6.23.1/react-router-dom.production.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/4.1.1/react-router-dom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/recoil@0.7.7/umd/index.min.js"></script>
<script src="https://unpkg.com/@tanstack/react-query@4/build/umd/index.production.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-hook-form@7.51.5/dist/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/zod@3.23.8/lib/index.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.5.2/index.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>

